*{
  box-sizing: border-box;
}

body {

  font-family: 'Open Sans',Helvetica, Arial, sans-serif;
  color: #000;
  line-height: 1.4;
  margin: 0;
}

nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

/* Das ist ein Kommentar */
#navi ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#pageheader{
  background-color: #fff;
  height: 60px;
  position: fixed;
  width: 100%;

}

#burgerbutton{
  background-color: transparent;
  border: none;
}

#navi{
  display: none;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;

}

#navi.show{
  display: flex;
  position: fixed;
  top: 60px;
  left: 0;
  background: #fff;
  width: 100%;
  height: calc(100vh - 60px);
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 4rem;

}

#intro{
  background-image: url(img/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button{
  background: #fff;
  border: 1px solid #374A67;
  padding: 10px;
  text-transform: uppercase;
  color: #374A67;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  box-shadow: 1px 3px 6px 0px rgba(0,0,0,0.75);
  display: inline-block;

}

.button:hover{
  color: #fff;
  background: #374A67;
  transition: all 0.3s linear;
}

#rezepte{
  text-align: center;
}

.card{
  border: 1px solid #828282;
  border-radius: 4px;
  text-align: center;


}

.button-blue{
  color: #fff;
  background:#374A67;
}

.button-blue:hover{
  color: #374A67;
  background: #fff;
}

.card img{
  width: 100%;
}

.card p{
  color: #828282;
}

main .wrapper{
  display: block;
}

.newsletter{
  background: #04122b;
  color: #fff;
  text-align: center;
  padding: 3rem 1rem;
}

.newsletter p{
  font-weight: bold;
}

.newsletter input{
  padding: 10px;
  border-radius: 4px;
  border: none;
}

#footer-nav ul, #social ul{
  list-style: none;
  padding: 0;
  margin: 0;



}

footer .wrapper{
  display: block;
  padding: 3rem 0;
  text-align: center;

}

footer nav a {
  text-transform: none;
  margin-right: 1rem;
  font-weight: normal;
}

#social{
  font-size: 2rem;
}

#social ul{
 display: flex;
 justify-content: center;
}

#social a:hover{
  color: #828282;
}

.overflow{
  overflow: hidden;
}



@media (min-width: 960px) {
  #burgerbutton{
    display: none;
  }

  #navi{
    display: block;
  }

  #navi ul{
    display: flex;
  }

  #navi ul li{
    margin-left: 10px;
    margin-right: 10px;
  }

  .card{
    float: left;
    width: calc(33.333333% - 16px);
    margin: 8px;

  }

  .row::after{
    content: "";
    display: block;
    clear: both;
  }

  .wrapper{
    width: 90%;
    margin: auto;
  }

  #footer-nav ul, #social ul, footer .wrapper{
    display: flex;
  }




}
